@import "tailwindcss";

:root {
	--background: #081820;
	--foreground: #e0f8d0;
	--accent1: #346856;
	--accent2: #88c070;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-mono: var(--font-pixelify-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #081820;
		--foreground: #e0f8d0;
	}
}

body {
	font-family: var(--font-pixelify-sans);
	color: var(--foreground);
	background: var(--background);
}
