@import "tailwindcss";

:root {
	--background: #000000;
	--foreground: #00ff00;
	--accent1: #306230;
	--accent2: #60ad5b;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-mono: var(--font-pixelify-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #00ff00;
	}
}

body {
	font-family: var(--font-pixelify-sans);
	color: var(--foreground);
	background: var(--background);
}
